<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} :: Tweet Email" : "Tweet Email" %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'rails' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body id="<%= body_id %>">
    <div id="container">
      <%= content_tag :h1, yield(:title) if show_title? %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <div class="legal">
      <p>© Copyright 2011, <%= link_to 'Tim Harvey', 'http://www.google.com/profiles/timjamesharvey', :style => 'color: #1111FF' %>. All rights reserved.</p>
    </div>
  </body>
</html>
